<!-- Begin Team List-->
<section id="aboutSDC" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutBlockTitle }}</h3>
            <p class="text-left mucho animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutCatch }}</p>
            <p class="text-left mucho animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutIt }}</p>

            <p class="text-left mucho animated hiding" data-animation="fadeInUp" data-delay="0">En esta ocasión contamos con la colaboración de la <a href='https://www.eoi.es/es/eoi-sevilla' target="_blank">Escuela de Organización
                Industrial de Andalucía</a> en
                cuyas instalaciones realizaremos este evento.</p>
            <p class="text-left mucho animated hiding" data-animation="fadeInUp" data-delay="0">Échale un vistazo a nuestros <a href="speakers/">ponentes</a> o al <a href="schedule/">programa</a>
                para saber más sobre los contenidos de esta edición</p>
            <p class="text-left mucho animated hiding" data-animation="fadeInUp" data-delay="0">Mientras llega el día, únete al <a href="https://www.facebook.com/groups/sevilladevelopers/" target="_blank">grupo en
                Facebook</a>  o
                participa en el canal <a href="http://www.sevilla-developers.com/" target="_blank">#SVQDC en el
                slack</a> de sevilla-developers</p>
        </div>
    </div>
</section>
<!-- End Team List -->
