<!-- Begin Statistic Section -->
<section id="aboutConcurso" class="statistic image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.statisticBlockImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.concursoBlockTitle }}</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutConcurso }}</p>
        </div>
	</div>
</section>
<!-- End Statistic Section -->