<!-- Begin Team List-->
<section id="aboutSDC" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutBlockTitle }}</h3>
            <p class="text-center mucho animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutCatch }}</p>
            <p class="text-left mucho animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutIt }}</p>

            <p class="text-left mucho animated hiding" data-animation="fadeInUp" data-delay="0">En esta ocasión contamos con la colaboración de la <a href='https://www.eoi.es/es/eoi-sevilla'>Escuela de Organización Industrial</a> en
                cuyas instalaciones realizaremos este evento.</p>
            <p class="text-left mucho animated hiding" data-animation="fadeInUp" data-delay="0">Echale un vistazo a nuestros <a href="speakers/">ponentes</a> o al <a href="schedule/">programa</a>
                para saber más sobre los contenidos de esta edición</p>
        </div>
    </div>
</section>
<!-- End Team List -->
