<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-color: #3a5795;">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <h1>{{ site.heroMain }}</h1>
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
            <h4>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs typeout-text"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h4>
            <p>{{ site.eventDate }}</p>

               <p> {% assign startTime = site.eventStartTime | split: "T" %}
                {{ startTime[1] }} - {% assign endTime = site.eventEndTime | split: "T" %} {{ endTime[1] }}
            </p>
            {% for button in site.heroButtons %}
            <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
            {% endfor %}
        </div>
    </div>
    </div>
</section>
<!-- End Hero Section -->